/* Define CSS variables for color values */
:root {
  --bg-header: #00779c;
  --clr-text-white: #fff;
  --clr-text-black: #000;
  --clr-bg-dark: #000e34;
  --clr-bg-light: #9c53f3;
  --clr-card-body: #0077ff;
  --clr-card-body-dark: #003898;
  --clr-sapn: #00ffff;
  --clr-pc-screen: #005d80;
  --clr-footer-bg: #00113e;
}

/* Common background style for elements */
.bg-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header section styles */
#header {
  background-color: var(--bg-header);
}

#header a {
  color: var(--clr-text-white);
  font-family: "Poppins", sans-serif;
}

#header .navbar-nav .bell {
  background-image: linear-gradient(to right, #00cb7a, #0091c8);
  padding: 5px 14px;
  margin-right: 28px;
}

#header .user p:nth-child(1) {
  color: var(--clr-sapn);
  font-size: 15px;
}

#header .user p:nth-child(2) {
  font-size: 20px;
  margin-top: -6px !important;
}

#header ul li a:hover {
  text-decoration: underline;
}

/* Hero section styles */
#hero {
  background-image: url(/assets/images/heroEfect.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#hero .img-wrap {
  background: linear-gradient(-43deg, #07558f 0%, #0b5490 38.72%, #ff00c4 100%);
  width: 100%;
  padding: 200px 0 !important;
  opacity: 0.9;
}

#hero::after {
  bottom: -11px;
  content: "";
  position: absolute;
  width: 100%;
  height: 32px;
  background-image: url(/assets/images/heroOverlay.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9;
}

#hero .content h1 {
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
}

#hero .content h1 span {
  font-size: 105px;
}

#hero .icons .item {
  background-color: var(--clr-bg-dark);
  border-radius: 50px 10px 10px 50px;
}
#hero .icons .item p {
  font-size: 24px;
}

#hero .icons .item .swipe {
  background-color: var(--clr-bg-light);
  width: 110px;
  height: 118px;
}

#hero .content p {
  font-family: "Poppins", sans-serif;
}

/* Project section styles */
#projects .p-head button i {
  background: var(--clr-text-white);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
}
#projects {
  background: linear-gradient(
    180deg,
    #000e34 0%,
    #071740 33.88%,
    #2e437c 57.41%,
    #4961a4 100%
  );
  padding-top: 90px;
  padding-bottom: 131px;
}

#projects .p-head {
  margin-bottom: 68px;
}

#projects .p-title {
  font-family: "Poppins", sans-serif;
}

#projects .p-btn {
  background-image: linear-gradient(to right, #cb00c4, #6e00ff);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

#projects .img-box {
  width: 100%;
  height: 168px;
}

#projects .wrap {
  background-color: var(--clr-card-body);
}

#projects .card-f {
  background-color: var(--clr-card-body-dark);
}

#projects .icon {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50px;
}

#projects .icon i {
  line-height: 45px;
}

#projects .wrapper .h-text {
  color: var(--clr-sapn);
  font-size: 30px;
}

#projects .wrapper {
  margin-top: 188px;
  font-family: "Poppins", sans-serif;
}

#projects .wrapper .content {
  padding: 0 86px;
}

#projects .hov-item > p {
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
}

#projects .wrapper p:nth-child(3) {
  margin-top: 26px !important;
}

#projects .wrapper .row {
  margin-top: 119px;
}

#projects .hov-item {
  transform: translateY(-100%);
  transition: 0.3s all;
}

#projects .c-item:hover .hov-item {
  transform: translateY(10%);
}

#projects .p-card .c-item:hover .img-box {
  filter: brightness(40%);
}

/* Join us section styles */
#join-us {
  background-image: url(/assets/images/JoinUsBg.png);
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

#join-us .img-wrap {
  background: linear-gradient(-46deg, #7c3fce 0%, #370067 100%);
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

#join-us .content button {
  background: linear-gradient(90deg, #cb00c4 0%, #6e00ff 100%);
  font-size: 21px;
}

#join-us .img-box {
  background: linear-gradient(140deg, #df00df 0%, #00ffdc 100%);
}

#join-us .content .wrap span {
  color: var(--clr-sapn);
}

/* Footer styles */
#footer {
  background-color: var(--clr-footer-bg);
  padding: 26px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

#footer .wrap ul {
  list-style-type: none;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 645px) {
  #hero .content h1,
  h1 > span {
    font-size: 50px !important;
  }

  #projects .wrapper .content {
    padding: 0 10px !important;
  }

  #header .navbar-nav .bell {
    padding: 8px 22px !important;
  }
  p {
    font-size: 16px !important ;
  }
  button {
    font-size: 18px !important ;
  }
  #footer ul li {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 986px) {
  p {
    font-size: 18px;
  }
  #hero .icons .item p {
    font-size: 18px;
  }
  button {
    font-size: 22px;
  }
}
